.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.columns img {
  width: 70%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

div.section.fragment-container.shorts.columns-container div.columns-wrapper{
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  /* border: 1px solid red; */
}
div.section.fragment-container.shorts.columns-container div.columns-wrapper div{

  text-align: center;
  margin: 0 auto;
  /* border: 1px solid rgb(255, 0, 242); */
}
div.section.fragment-container.shorts.columns-container div.columns-wrapper > div > div img{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 5px;
}

#shorts {
  border-top: 1px solid rgb(102, 102, 102);
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
