.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.columns img {
  width: 80%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

body > main > div.section.columns-container > div.columns-wrapper {
  max-width: 1000px;
}

body > main > div.section.columns-container > div.columns-wrapper  picture{
  display: flex;
  justify-content: center;
}

.columns > div > .columns-img-col img {
  display: block;
  border-radius: 6px;
}

div.section.fragment-container.shorts.columns-container div.columns-wrapper{
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  /* border: 1px solid red; */
}

div.section.fragment-container.shorts.columns-container div.columns-wrapper > div > div img{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(102 102 102 / 100%);
  border-radius: 5px;
}

/* #shorts {
  border-top: 1px solid rgb(102, 102, 102, 100);
} */

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
