.hero-container .hero-wrapper {
  max-width: 100%;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: contain;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* max-width: 2200px; */
}

.hero > div:nth-of-type(2) picture img {
  position: absolute;
  padding-left: 4%;
  width: 50%; /* Adjust the width percentage as needed */
  max-width: 400px; /* Adjust the width as needed */
  z-index: 1; /* Ensure it is on top of other elements */
  object-fit: contain;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0)) drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.9)) drop-shadow(1px 1px 16px rgba(0, 0, 0, 0.7));
  /* border: 1px solid red; */
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

@media (max-width: 600px) {
  .hero > div:nth-of-type(2) picture img {
    width: 80%; /* Adjust the width percentage for smaller screens */
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;

  }
}