.hero-video-block {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin: 0 auto;
  }

  div.section.herovideo-container > div > div{
    height: 60vh !important;
  }

  div.section.herovideo-container div{
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .hero-video-block video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  /* .hero-video-block .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .hero-video-block .overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero-video-block .overlay p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .hero-video-block .overlay button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: rgba(255 255 255 0.2);
    color: white;
    cursor: pointer;
  } */
  